* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: white;
}

header {
    height: 100vh;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
}

.logo span {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #38bdf8;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 span {
    color: #38bdf8;
}

.btn {
    background: #38bdf8;
    padding: 10px 25px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
    border-radius: 25px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

.section {
    padding: 80px 10%;
    text-align: center;
}

.dark {
    background: #1e293b;
}

.skills-container, .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card, .project-card {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover, .project-card:hover {
    transform: translateY(-10px);
    background: #38bdf8;
    color: black;
}

.edu h3 {
    margin-top: 20px;
}

footer {
    background: #0f172a;
    text-align: center;
    padding: 20px;
}

/* Responsive */
@media(max-width:768px){
    nav ul {
        display: none;
    }

    .hero h1 {
        font-size: 22px;
        text-align: center;
    }

    .skills-container, .projects-container {
        flex-direction: column;
    }
}
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background: #25D366;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-decoration: none;
    transition: 0.3s;
   
}

.whatsapp-float:hover {
    transform: scale(1.1);
}
